.CarouselCard{
    height:75vh;
}

.FlipCardImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.flippedImage{
    transform: scaleX(-1);
}

.carousel,
.item,
.active {
    height: 100%;
    margin-bottom: 5px;
}

.carousel-inner {
    height: 100%;
}

.carousel-caption {
  background : rgba(251, 249, 249, 0.45);
  text-shadow: 0 0 0.8rem black;
  max-width: 100%;
  width:100%;
  left: 0;
  bottom:0;
}

.carousel-caption h3 {
    font-size: calc(1 * (1.5vh + 1.1vw));
    font-weight: bold;
    font-style: normal;
}

.carousel-caption p {
    font-size: calc(.7 * (1.5vh + 1.1vw));
    font-weight: normal;
    font-style: normal;
}

.projectDetails{
    text-align: left;
    max-height: 100%;
    height:100%;
    padding-top: 15vh;
    padding-left: 20%;
    padding-right: 20%;
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' stroke='%23777' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' stroke='%23777' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}