.introTabs .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.introTabs .nav-tabs {
    margin-bottom: -1;
}

.introTabs .nav-link{
    color: #71518A;
    font-weight: bold;
}

.introTabs .nav-link:hover{
    background-color: #71518A;
    opacity: 50%;
    color: #ddd;
    font-weight: bold;
}

.contentContainer{
    padding: 1%;
    background-image: linear-gradient(to right, rgba(76, 0, 255, 0.4), 35%, rgba(76, 0, 255, 0.1));
}

.projectType{
    display: grid;
    row-gap:  1rem;
}

.timelineContainer{
    display: grid;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}

.timelineButton {
    display: inline-flex;
}

.timelineRow{
    margin-top: 2rem;
}

.projectTypeCard{
    box-shadow: 10px 10px 5px rgb(160, 160, 160);
    border: 1px solid rgb(46, 46, 46);
}

.projectTypeCard p{
    text-align: center;
}

.projectTypeCard .card-title{
    text-align: center;
}

.projectTypeCard .btn{
    width: 100%;
    text-align: center;
}

.projectTypeCard .btn-link{
    color: #71518A;
    font-weight: bold;
}