.TimelineBox{
    width: 100%;
}

.TimelineDesc{
    margin-top: 2rem;
    width: 75vw;
    background-color: rgba(255, 255, 255, 0.281);
}

.MuiTooltip-tooltip-arrow{
    color: white!important;
}

.MuiTooltip-tooltip{
    background-color: rgb(1, 1, 1)!important;
    display: block;
    font-size: 1em!important;
    min-width: 80vw!important;
    position: relative!important;
}