.title_1 {
    display: block;
    width: 200px;
    margin-top: 50px;
    margin-left: 250px;
    position: relative;
    height: 50px;
    background-color:purple;
    color: white;
}

.title_2{
    display: block;
    width: 250px;
    margin-top: 50px;
    margin-left: 800px;
    position: relative;
    height: 50px;
    background-color:rgb(84, 109, 219);
    color: white;
}
.aboutInfo {
    display: block;
    width: 800px;
    position: relative;
    margin-left: 250px;
    height: 130px;
    padding: 10px 20px 20px 10px;
    border: 10px solid;
    border-image: linear-gradient(45deg, purple, lightblue) 1;
    background-color: white;
}

.purposeInfo{
    display: block;
    width: 800px;
    margin-left: 250px;
    position: relative;
    height: 100px;
    padding: 10px 20px 20px 10px;
    border: 10px solid;
    border-image: linear-gradient(45deg, purple, lightblue) 1;
    background-color: white;
}



.teamIntro .col{
    display: flex;
    justify-content: center;
}

.teamTitle{
    width: 100%;
    text-align: center;
    color:#71518A;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.teamCard{
    width: 20vw;
    border: 10px solid;
    border-image: linear-gradient(45deg, purple, lightblue) 1;
}

.teamCard .btn{
    width: 100%;
    background-color: #F3F6FA;
    color: #71518A;
    border-color: #71518A;
    margin-top: 1vw;
}

.teamPage_icon{
    display:inline;
    margin-left: 5px;
    margin-right: 10px;
}

