.contentCol h1{
    width: 100%;
    text-align: center;
    color: #71518A;
    padding-top: 5mm;
    padding-bottom: 5mm;
}

.evnetType {
    margin-top: 10mm;
    margin-bottom: 10mm;
}

.eventContainer .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.eventContainer .nav-tabs {
    margin-bottom: -1;
}

.eventContainer .nav-link{
    color: #71518A;
    font-weight: bold;
}

.eventContainer .nav-link:hover{
    background-color: #71518A;
    opacity: 50%;
    color: #ddd;
    font-weight: bold;
}

.eventCard{
    margin-top: 0;
}

.eventCard .accordion-button:not(.collapsed){
    color:#71518A;
    background-color: #F3F6FA;

}

.eventCard .accordion-button:focus{
    border-color: #bb99b7;
    box-shadow: 0 0 0 0.15rem #bb99b7;
}

.eventCard .accordion-button:not(.collapsed)::after{
    background-image: url(https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-plus-user-interface-tanah-basah-glyph-tanah-basah-2.pnghttps://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-minus-user-interface-tanah-basah-glyph-tanah-basah.png);
}

.eventCard .accordion-button::after{
    background-image: url(https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-plus-user-interface-tanah-basah-glyph-tanah-basah-2.png);
}

.eventCard .event-title-border{
    border-bottom-style: solid;
    margin-bottom: 1rem;
    border-color: #e0c4dd;
}

.eventCard .event-title{
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: 600;
}

.eventCard .event-subtitle{
    margin-bottom: 1rem;
    line-height: 2rem;
    font-weight: 600;
}

.eventCard .event-guest-name{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2mm;
}

.eventCard .event-guest-image{
    width: 14rem;
    height: 16rem;
    margin-bottom: 2mm;
}

.eventCard .registration-link{
    margin-top: 1rem;
}

.mobileDropdown{
    margin-bottom: 10mm;
}

.mobileContent{
    width: 100%;
    text-align: center;
    color: #71518A;
}
