.mainWrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainContent{
    flex-grow: 1;
}

#MediumBannerLogo{
    width: 85%;
}

.HeaderEnter{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.HeaderEnter div{
    display: flex;
    justify-content: space-around;
}

.HeaderText{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: white;
    text-align: center;
    text-shadow : 0 1px 2px rgba(0, 0, 0, .6);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

@media (min-width: 1280px){
    .HeaderText{
        font-size: 5.9983rem;
    }
}

@media (min-width: 960px){
    .HeaderText{
        font-size: 5.3556rem;
    }
}

@media (min-width: 600px){
    .HeaderText{
        font-size: 4rem;
    }
}