

.projectContainer .tab-content {
    position:relative;
    top:40px;
    width:100%;
    left: 85px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}


.upcomingProjects{
    position: absolute;
    left:0;
    top:150px;
    width: 175px;
    height:60px;
    color: #71518A;
}

.currentProjects{
    position: absolute;
    left:0;
    top:210px;
    width:175px;
    height:60px;

    color: #71518A;
}


.previousProjects{
    position: absolute;
    left:0;
    top:270px;
    width:175px;
    height:60px;
    color: #71518A;

}


.projectContainer .nav-link{
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
    color: #71518A;
    

    font-weight: bold;
}

.projectContainer .nav-link:hover{
    background-color: #71518A;
    opacity: 50%;
    color: #ddd;
    font-weight: bold;
}


.projectTypeTitle{
    width: 100%;
    text-align: center;
    color: #71518A;
}

.projectCard{

    margin-top: 2rem;
}

.projectCard .accordion-button:not(.collapsed){
    color:#71518A;
    background-color: #F3F6FA;

}

.projectCard .accordion-button:focus{
    border-color: #bb99b7;
    box-shadow: 0 0 0 0.15rem #bb99b7;
}

/*drop down menu sign after clicking*/
.projectCard .accordion-button:not(.collapsed)::after{
    background-image: url(https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-plus-user-interface-tanah-basah-glyph-tanah-basah-2.pnghttps://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-minus-user-interface-tanah-basah-glyph-tanah-basah.png);
}

/*drop down menu sign before clicking*/
.projectCard .accordion-button::after{
    background-image: url(https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/000000/external-plus-user-interface-tanah-basah-glyph-tanah-basah-2.png);

}

.projectCard .cardButton{
    width: 100%;
    background-color: #F3F6FA;
    color: #71518A;
    border-color: #71518A;
}